<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Product</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">

            <!-- <input asp-for="Product.Id" hidden /> -->

            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" class="form-control border-0 shadow" />
                            <!-- <label asp-for="Product.ProductImages" class="ms-2"></label> -->
                            <label class="ms-2"></label>
                        </div>

                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                               @*   @if (Model.Product.Id != 0) { *@
                                <button asp-controller="Home" asp-action="Upload"  class="btn btn-primary form-control" type="submit">Update</button>
                               @*  } *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
